@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    circle farthest-corner at 100% 0%,
    #6673ffff 0%,
    #66d6ffff 50%,
    #ffd063ff 100%
  );
  background-blend-mode: color-dodge;

  font-family: "Nunito", sans-serif;
  color: #333333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title-container {
  width: 60%;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: 400;
}

.form-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#formulario {
  padding: 2rem;
  min-height: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 246, 246, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(255, 246, 246, 0.3);
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  outline: none;
}

button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

button:hover {
  background-color: #ffcc66;
}

#resultado {
  margin-top: 1rem;
  font-size: 3.6rem;
  color: #333333;
  font-weight: 700;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  #formulario {
    width: 95%;
    padding: 1.5rem;
  }

  button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
  }

  input[type="number"] {
    padding: 0.75rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  #formulario {
    padding: 1rem;
  }

  label {
    font-size: 0.9rem;
  }

  input[type="number"] {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.75rem;
  }

  #resultado {
    font-size: 1rem;
  }
}
